@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
*{
    margin: 0 ; 
    padding: 0;
    box-sizing:border-box;
    font-family:'Zalando Sans', sans-serif ;


}

body{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(45deg,#1a1a1a,#7aaaed); 
}

.calculator{
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 18px;
    background: transparent;
    box-shadow:0px 3px 15px rgba(113,115,119,0.9);
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
     box-shadow:0px 3px 15px rgba(84,84,84,0.4);
     font-size: 40px;
     text-align: right;
     cursor: pointer;
     color: #ffffff
}

input::placeholder{
    color:#ffffff
}

button{
    border: none;
    width: 60px;
    height:60px;
    margin: 10px;
    border: radius 60%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.3);
    cursor:pointer;
}

.equalBtn{

    background-color:#1b1152
}

.operator{
    color:#140d6a
}