body{
    margin: 0;
    color:#484B38;
    text-align: center;
    display: block;
    padding: auto auto;
    font-family: "Orbitron", sans-serif;

    
}
#title{
    text-shadow: 0px 0px 2px black;
}
#hero{
    background-image: url("Happy Joy GIF by Coop Prix - fort gjort!.gif");
    background-size:cover ;
    padding: 500px 0 100px 0;

}

#main-logo{
    width: 100px;
}

.btn{
    margin: 0px auto;
    padding: 4px 10px 8px 10px ;
    background: white;
    border:none;
    font-family: inherit;
    color:#484B38;
    font-weight: bold;
}

.cta{
    border-bottom: 4px solid white;
}
