body{
    margin: 20px;

}

.avatar
{
width:200px;



}


.card{
    border:1px dotted black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display:flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: #2b2839;
    border-top: #d8cefe;
    border-bottom:#d8cefe;
    border-left: #d8cefe;
    border-right: #d8cefe;
}
.border_black{
    border:1px  black;
}

