body{
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar
{
width:100px;
}


.card{
    border:1px dotted black;
    width: 500px;
    margin: 0px auto;
    padding: 20px;
    display: flex;
    text-align:center;
    justify-content: space-around;
    align-items: center;
    background: #CCC5B9;
    color: #2b2839;
    border-top: #CCC5B9;
    border-bottom:6px solid #252422;
    border-left: #CCC5B9;
    border-right: #CCC5B9;
    border-radius: 30px;
}



