body{
    background-image: url("Images/1.jpg");
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    background-size: center;
    color:white;
}
button{
    padding: 10px 20px;
    background-color: #a7c7a890;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
}

#increment-btn{
    background-color: #a7c7a9a3;
}

#save-btn{
    background-color: #caebcca3;
}

h1{
    margin-top: 100px;
    margin-bottom: 10px;
}

h2{
    font-size: 50px;
    margin-top:0;
    margin-bottom: 20px;
}