
body{
 margin:0px;
}

.red{
    background:red;
    height: 100px;   
   
}




.blue{
    background:#0d1b88;
    height: 100px; 
    margin-top:20px;
    margin-bottom: 30px;

}

.green{
    background:rgb(31, 82, 31);
    height: 100px;  
  
}



