body{
    background-color: #8D86C9 ;
    text-align: center;

}

#header{
    display: flex;
    justify-content: space-around;

}

#score-el{
    width: 100px;
    height: 50px;
    background: #CAC4CE;
}


#wicket-el{
    width: 100px;
    height: 50px;
    background: #CAC4CE;
}


#overs-el{
    width: 100px;
    height: 50px;
    background: #CAC4CE;
}

#target-el{
    width: 100px;
    height: 50px;
    background: #CAC4CE;
}