body{
    text-align: center;
    background-color: green;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

button{
    color: #016f32;
    width: 150px;
    background-color: goldenrod ;
    border: 1px solid black;
    border-radius: 3px;
    margin-top:2px;
    margin-bottom: 4px;
}

